<!DOCTYPE html>
<html>
<head>
	<title>No 1 shopping site in nigeria</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="category.css">
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container my-3 "></div>
	


    <div class="side bg-danger mr-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque in beatae ex. Minima est tempora illo possimus nulla cum? Expedita, error saepe quo doloribus ullam vitae quos architecto ipsa officia.
    </div>
	<div class="main bg-light">
       
       
            <div class="col-md-2 col-5 col-sm-4  d-inline-block  p-2 prd">
                <img src="iphone.jpg" width="100%" height="auto" alt="">
                <span class="dis  rounded-right bg-danger"><small>-30%</small></span>
                <p class="prdd mb-0">hhd dd ddkjd dkd lks skjs sklsns slks sls slks sls sls sl s ssls llsl</p>
                <p class="prdp mb-0">&#8358;1,000</p>
                <p class="prddis"><del>&#8358; 2,000</del></p>
            </div>
            <div class="col-md-2 col-5 col-sm-4 d-inline-block  p-2 prd">
                <img src="iphone.jpg" width="100%" height="auto" alt="">
                <span class="dis  rounded-right bg-danger"><small>-30%</small></span>
                <p class="prdd mb-0">hhd dd ddkjd dkd lks skjs sklsns slks sls slks sls sls sl s ssls llsl</p>
                <p class="prdp mb-0">&#8358;1,000</p>
                <p class="prddis"><del>&#8358; 2,000</del></p>
            </div>
            <div class="col-md-2 col-5 col-sm-4 d-inline-block  p-2 prd">
                <img src="iphone.jpg" width="100%" height="auto" alt="">
                <span class="dis  rounded-right bg-danger"><small>-30%</small></span>
                <p class="prdd mb-0">hhd dd ddkjd dkd lks skjs sklsns slks sls slks sls sls sl s ssls llsl</p>
                <p class="prdp mb-0">&#8358;1,000</p>
                <p class="prddis"><del>&#8358; 2,000</del></p>
            </div>
            <div class="col-md-2 col-5 col-sm-4 d-inline-block  p-2 prd">
                <img src="iphone.jpg" width="100%" height="auto" alt="">
                <span class="dis  rounded-right bg-danger"><small>-30%</small></span>
                <p class="prdd mb-0">hhd dd ddkjd dkd lks skjs sklsns slks sls slks sls sls sl s ssls llsl</p>
                <p class="prdp mb-0">&#8358;1,000</p>
                <p class="prddis"><del>&#8358; 2,000</del></p>
            </div>
            <div class="col-md-2 col-5 col-sm-4 d-inline-block  p-2 prd">
                <img src="iphone.jpg" width="100%" height="auto" alt="">
                <span class="dis  rounded-right bg-danger"><small>-30%</small></span>
                <p class="prdd mb-0">hhd dd ddkjd dkd lks skjs sklsns slks sls slks sls sls sl s ssls llsl</p>
                <p class="prdp mb-0">&#8358;1,000</p>
                <p class="prddis"><del>&#8358; 2,000</del></p>
            </div>
            
            <div class="col-md-2 col-5 col-sm-4  d-inline-block  p-2 prd">
                <img src="iphone.jpg" width="100%" height="auto" alt="">
                <span class="dis  rounded-right bg-danger"><small>-30%</small></span>
                <p class="prdd mb-0">hhd dd ddkjd dkd lks skjs sklsns slks sls slks sls sls sl s ssls llsl</p>
                <p class="prdp mb-0">&#8358;1,000</p>
                <p class="prddis"><del>&#8358; 2,000</del></p>
            </div>
            <div class="col-md-2 col-5 col-sm-4 d-inline-block  p-2 prd">
                <img src="iphone.jpg" width="100%" height="auto" alt="">
                <span class="dis  rounded-right bg-danger"><small>-30%</small></span>
                <p class="prdd mb-0">hhd dd ddkjd dkd lks skjs sklsns slks sls slks sls sls sl s ssls llsl</p>
                <p class="prdp mb-0">&#8358;1,000</p>
                <p class="prddis"><del>&#8358; 2,000</del></p>
            </div>
            <div class="col-md-2 col-5 col-sm-4 d-inline-block  p-2 prd">
                <img src="iphone.jpg" width="100%" height="auto" alt="">
                <span class="dis  rounded-right bg-danger"><small>-30%</small></span>
                <p class="prdd mb-0">hhd dd ddkjd dkd lks skjs sklsns slks sls slks sls sls sl s ssls llsl</p>
                <p class="prdp mb-0">&#8358;1,000</p>
                <p class="prddis"><del>&#8358; 2,000</del></p>
            </div>
            <div class="col-md-2 col-5 col-sm-4 d-inline-block  p-2 prd">
                <img src="iphone.jpg" width="100%" height="auto" alt="">
                <span class="dis  rounded-right bg-danger"><small>-30%</small></span>
                <p class="prdd mb-0">hhd dd ddkjd dkd lks skjs sklsns slks sls slks sls sls sl s ssls llsl</p>
                <p class="prdp mb-0">&#8358;1,000</p>
                <p class="prddis"><del>&#8358; 2,000</del></p>
            </div>
            <div class="col-md-2 col-5 col-sm-4 d-inline-block  p-2 prd">
                <img src="iphone.jpg" width="100%" height="auto" alt="">
                <span class="dis  rounded-right bg-danger"><small>-30%</small></span>
                <p class="prdd mb-0">hhd dd ddkjd dkd lks skjs sklsns slks sls slks sls sls sl s ssls llsl</p>
                <p class="prdp mb-0">&#8358;1,000</p>
                <p class="prddis"><del>&#8358; 2,000</del></p>
            </div>
            

        
		
   
</div>

<footer>


</footer>
</body>
</html>