<!DOCTYPE html>
<html>
<head>
	<title>No 1 shopping site in nigeria</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="category.css">
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid bg-light"  style="height:100vh;width:100%;">
         <div class="row justify-items-center align-items-center">
       
        <div class="col-12 ">
            <span class="fa fa-car text-center " style="font-size: 200px;"></span>
            <p class="text-center">  Your Order is Successfully,you will receive a sms </p>
        </div>
    </div>

    </div>
   
</body>
</html>