<!DOCTYPE html>
<html lang="en">
<head>
    <title>No 1 shopping site in nigeria</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="product.css">
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container   bg-white mt-5 p-5">
            <div class="row">
                <div class="col-md-4 ">
                  <div class="mb-2">
                      <img src="iphone.jpg" class="rounded-lg" width="250px" alt="">
                  </div>
                 
                    <img src="iphone.jpg" class="shrtv" width="34px" alt="">
                    <img src="iphone.jpg" class="shrtv" width="34px" alt="">
                    <img src="iphone.jpg" class="shrtv" width="34px" alt="">
                    <img src="iphone.jpg" class="shrtv" width="34px" alt="">
                    <img src="iphone.jpg" class="shrtv" width="34px" alt="">
                    <img src="iphone.jpg" class="shrtv" width="34px" alt="">
                 
                </div>
                <div class="col-md-8 pl-4">
                    <h4>iphone x 256gb black Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quasi?</h4>
                    <p> <span class="text-secondary ">Brand: </span>Apple</p>
                    <hr class="m-0">
                    <p class="prdpp m-0">&#8358;1,000</p>
                    <span class="text-secondary m-0"><del>&#8358; 2,000</del></span> 
                    <span class="ml-2 disp rounded-right bg-danger "><small class="font-weight-bold">-30%</small></span>
                    <hr class="">
                    <button class="btn col-12 col-md-6 btn-success font-weight-bold text-white">ADD TO CART <span class="fa fa-shopping-cart"></span></button>
                    <hr>
                    <span>Free Delivery</span> <span class="alert-warning font-weigh-bold p-2 rounded-lg">Sokoto</span>
                    <p class="mt-2">Share To </p>
                    <span class="fa fa-facebook"></span>
                    <span class="fa fa-twitter"></span>
                    <span class="fa fa-whatsapp"></span>
                </div>
            </div>
    </div>
<div class="container rounded-top p-3 mt-2 bg-white">
    <h5 class="p-2 font-weight-bold">Product Details</h5>
    <hr>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nam doloremque vitae 
    dignissimos nobis omnis et laborum numquam incidunt distinctio eaque ea porro ab accusamus
     rem doloribus libero illo fugiat animi error, ullam qui. Eius atque, labore, deserunt voluptates
      veritatis nemo expedita fuga iusto porro, laudantium reprehenderit dolore? Quibusdam, ullam!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt minus voluptate cumque corporis.
     Possimus aliquid minus nihil quaerat eveniet aspernatur, ratione neque ad repudiandae cum saepe alias
      consequatur necessitatibus ut in maiores dolores consequuntur, excepturi reiciendis totam rem dicta 
      at ipsam praesentium? Eos dolore delectus reiciendis assumenda magni omnis dolorum facere nemo tempore, 
      natus adipisci earum minima at voluptatum officiis voluptatibus saepe laborum expedita, cum illo. Est
      doloremque quia eaque aliquid beatae. Enim vitae provident non explicabo itaque natus vero quaerat ipsam beatae iure aperiam, labore repellat optio quia ea porro cum quibusdam eligendi nam numquam corrupti odit. Optio, unde?
    </div>

    <div class="container rounded-top p-3 mt-2 bg-white">
        <h5 class="p-2 font-weight-bold">Product specfication</h5>
        <hr>
       <table class="table  col-md-12 col-12 border table-striped table-hover">
           
           <tr>
               <td class="font-weight-bold">Model</td>
               <td>iphone</td>
           </tr>
           <tr>
            <td class="font-weight-bold">Model</td>
            <td>iphone</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Model</td>
            <td>iphone</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Model</td>
            <td>iphone dff gdfg fg th r rff retr tr fgdg gthn  ghb</td>
        </tr>
          
       </table>
       <h5>*key Features</h5>
        </div>
</body>
</html>