<!DOCTYPE html>
<html>
<head>
	<title>No 1 shopping site in nigeria</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="category.css">
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <style>
        .inputt{
            height: 45px;
        }
    </style>
    <p class="mt-5"></p>
    <div class="col-8 col-md-6 m-auto bg-white p-3">
        <form action="">
            <img src="img.jpeg"  class="mx-auto d-block col-5 col-md-4 col-lg-3 mb-2 rounded-circle"  height="125" alt="">
            <small class=" mx-auto col-12 col-md-8 col-lg-6 d-block text-danger">Incorrect password or username</small>
            <input class="inputt shadow  mb-3 col-12 col-md-8 col-lg-6 mx-auto form-control" title="username" placeholder="Username" type="text" name="" id="">
            

            <input class="inputt shadow mb-3 col-12 col-md-8 col-lg-6 mx-auto form-control" title="password" placeholder="Password" type="password" name="" id="">

            
            <input type="submit" class="btn btn-success shadow col-12 col-md-8 col-lg-6  mx-auto d-block" name="Login" value="Login" id="">
        </form>
    </div>
<footer>
</footer>
</body>
</html>