<!DOCTYPE html>
<html>
<head>
	<title>No 1 shopping site in nigeria</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="category.css">
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <p class="mt-5"></p>
    <div class="col-8 m-auto ">
        <form action="">

            <input class="inputt shadow  mb-3 col-12 col-md-6 mx-auto form-control" title="firstname" placeholder="Firstname" type="text" name="" id="">

            <input class="inputt shadow mb-3 col-12 col-md-6 mx-auto form-control" title="lastname" placeholder="Lastname" type="text" name="" id="">

            <input class="inputt shadow col-12 col-md-6 mx-auto mb-3 form-control" title="username" placeholder="Username" type="text" name="" id="">

            <input class="inputt shadow col-12 col-md-6 mx-auto mb-3 form-control" title="password" placeholder="Password" type="password" name="" id="">
            <label class="col-12 col-md-6 mx-auto d-block" for="">
              <span>Male</span>  <input type="radio" name="gender" value="male" title="male" id="">
               <span> Female</span> <input type="radio" name="gender" value="female" title="female" id="">
            </label>
            <input class="inputt shadow mb-3 col-12 col-md-6 mx-auto form-control" title="Date of Birth" placeholder="Date of Birth" type="date" name="" id="">

            <input class="inputt shadow mb-3 col-12 col-md-6 mx-auto form-control" title="Email" placeholder="Email" type="email" name="" id="">

            <input class="inputt shadow mb-3 col-12 col-md-6 mx-auto form-control" title="Phone" placeholder="Phone" type="tel" name="" id="">

            <input class="inputt shadow col-12 col-md-6 mb-3  mx-auto form-control" title="State" placeholder="State" type="text" name="" id="">


            <input class="inputt shadow mb-3 col-12 col-md-6 mx-auto form-control" title="address" placeholder="Address" type="text" name="" id="">
            
            <input type="submit" class="btn btn-success shadow col-12 col-md-6 mx-auto d-block" name="signup" value="Register" id="">
        </form>
    </div>
<footer>
</footer>
</body>
</html>